# Git
.git
.gitignore
.github

# Flutter / Dart build cache - HUGE, don't copy
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# DevOps / CI - don't need inside app image
Jenkinsfile
README.md
